{
  "log": {
    "_recordingName": "raises a typed error for a model that does not exist",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ade6ee3495bd308250ed2fbaca381cfc",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"jev-does-not-exist\",\"state\":\"hello\",\"questions\":{\"q\":{\"type\":\"noul\",\"instructions\":\"Is this a greeting?\"}}}"
          },
          "queryString": [],
          "url": "https://api.typesafe.ai/v1/systemone"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 89,
            "text": "{\"detail\":{\"error_type\":\"api_usage_error\",\"message\":\"Unknown model: jev-does-not-exist\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-typesafe-request-id",
              "value": "req_01a0fd693a1778499bbf6055e6ee8e2e"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 356,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
