{
  "log": {
    "_recordingName": "lists the judgment models",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5294ad88d98c05f2583c448f797e97d6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.typesafe.ai/v1/models"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 311,
            "text": "{\"models\":[{\"name\":\"jev-latest\",\"description\":\"The latest iteration of TypeSafe's System One Model: Jev\",\"release_date\":\"2026-09-10T18:38:01.391457+00:00\"},{\"name\":\"jev-preview\",\"description\":\"A preview version of `jev-latest`: should be better in most ways\",\"release_date\":\"2026-09-10T18:39:06.057655+00:00\"}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-typesafe-request-id",
              "value": "req_01a0fd69361f72f0839061082989f76b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1015,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
